$color-0:  #0a0908;
$color-1:  #A3522C;
$color-2:  #6D9B54;
$color-3:  #CA9F4E;
$color-4:  #3E5FA9;
$color-5:  #a260ba;
$color-6:  #51a5a2;
$color-7:  #a3cfe5;
$color-8:  #26221d;
$color-9:  #e1652b;
$color-10: #89d95d;
$color-11: #ffd453;
$color-12: #6b94f0;
$color-13: #b18cc9;
$color-14: #7ae0cc;
$color-15: #d4ffff;

* {
    all: unset;
}

window {
    background-color: rgba($color-0, 0.9);
    font-family: Iosevka Term;
}

// top right bottom left

.mainbox {
    .profile {
        margin: 12px 12px 6px 12px;
        border-radius: 12px;
        padding: 12px 0 12px 0;
        //background-color: rgba($color-7, 0.1);
        .profile-image {
            margin: 12px;
            background-image: url('./images/profile.png');
            background-repeat: no-repeat;
            background-size: 120px;
            min-height: 120px;
        }

        .user-info {
            .user {
                color: $color-11;
                font-size: 30px;
            }

            .user-message {
                font-size: 20px;
            }
        }
    }

    .controls {
        .row-1 {
            
        }

        .row-2 {

        }

        .button {
            min-height: 20px;
            min-width: 20px;
            background-color: #f00;
        }
    }

    .time {
        margin: 6px 12px 6px 12px;
        border-radius: 12px;
        background-color: rgba($color-7, 0.1);
        padding: 12px 0 12px 0;

        .hour {
            padding-left: 0px;
            color: $color-10;
            font-size: 70px;
        }

        .time-segment {
            font-size: 70px;
        }

        .minute {
            color: $color-11;
            font-size: 70px;
        }

        .date {
            padding-right: 20px; 
            padding-left: 20px;          
            .weekday {
                padding: 0px;
                font-size: 18px;
                color: $color-13;
            }

            .month {
                padding: 0px;
                font-size: 25px;
                color: $color-9;
            }
        }
    }

    .music-player {
        margin: 6px 12px 6px 12px;
        border-radius: 12px;
        background-color: rgba($color-7, 0.1);
        padding: 36px 12px 24px 12px;
        .music-icon {
            min-height: 100px;
            min-width: 100px;
            background-repeat: no-repeat;
            background-size: 100px;
        }
        .music-player-side {
            .music-title {
                font-size: 18px;
                padding-bottom: 7px;
                margin-left: 10px;
            }

            .music-artist {
                font-size: 16px;
                padding-bottom: 7px;
                margin-left: 10px;
            }

            .music-player-buttons {
                margin-left: 10px;
                min-width: 180px;
                button {
                    font-size: 40px;
                }
            }
        }
    }

    .info {
        margin: 6px 12px 6px 12px;
        border-radius: 12px;
        background-color: rgba($color-7, 0.1);
        padding: 24px 12px 24px 24px;

        .volume-box {
            .icon {
                font-size: 45px;
                color: $color-11;
                padding-right: 24px;
            }
            scale trough highlight {
                all: unset;
                background-color: $color-11;
                color: #000;
                border-radius: 12px;
            }
            scale trough {
                all: unset;
                min-width: 215px;
                min-height: 10px;
                color: #000;
                background-color: rgba($color-0, 0.7);
                border-radius: 12px;
            }
        }

        .brightness-box {
            .icon {
                font-size: 45px;
                color: $color-10;
                padding-right: 24px;
            }
            scale trough highlight {
                all: unset;
                background-color: $color-10;
                color: #000;
                border-radius: 12px;
            }
            scale trough {
                all: unset;
                min-width: 215px;
                min-height: 10px;
                color: #000;
                background-color: rgba($color-0, 0.7);
                border-radius: 12px;
            }
        }

        .cpu-box {
            .icon {
                font-size: 45px;
                color: $color-9;
                padding-right: 24px;
            }
            scale trough highlight {
                all: unset;
                background-color: $color-9;
                color: #000;
                border-radius: 12px;
            }
            scale trough {
                all: unset;
                min-width: 215px;
                min-height: 10px;
                color: #000;
                background-color: rgba($color-0, 0.7);
                border-radius: 12px;
            }
        }

        .ram-box {
            .icon {
                font-size: 45px;
                color: $color-13;
                padding-right: 24px;
            }
            scale trough highlight {
                all: unset;
                background-color: $color-13;
                color: #000;
                border-radius: 12px;
            }
            scale trough {
                all: unset;
                min-width: 215px;
                min-height: 10px;
                color: #000;
                background-color: rgba($color-0, 0.7);
                border-radius: 12px;
            }
        }

        .battery-box {
            .icon {
                font-size: 45px;
                color: $color-12;
                padding-right: 24px;
            }
            scale trough highlight {
                all: unset;
                background-color: $color-12;
                color: #000;
                border-radius: 12px;
            }
            scale trough {
                all: unset;
                min-width: 215px;
                min-height: 10px;
                color: #000;
                background-color: rgba($color-0, 0.7);
                border-radius: 12px;
            }
        }
    }
}